.floorPlan {
    display: grid;
    grid-template-areas:
      'livingRoom kitchen'
      'office bathroom'
      'bedroom masterBedroom'
      'masterBath masterBath';
    gap: 20px;
    height: 80vh;
    padding: 20px;
    background-color: #f0f0f0; /* Background color */
    position: relative;
  }
  
  .room {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .room img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .room:hover img {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  #livingRoom {
    grid-area: livingRoom;
  }
  
  #kitchen {
    grid-area: kitchen;
  }
  
  #office {
    grid-area: office;
  }
  
  #bathroom {
    grid-area: bathroom;
  }
  
  #bedroom {
    grid-area: bedroom;
  }
  
  #masterBedroom {
    grid-area: masterBedroom;
  }
  
  #masterBath {
    grid-area: masterBath;
  }
  