/* Header Styling */
.header {
  background-color: #f5f5f5; 
  padding: 1% 0;
  display: flex;
  justify-content: space-around; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.header a {
  color: #333; 
  text-decoration: none;
  font-weight: 1000;
  transition: color 0.3s ease-in-out;
  font-size: larger;
}

.header a:hover {
  color: #007bff;
}

/* Logo Styling */
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.logoImage {
  width: 30%; 
  height: auto;
}
